[Desktop Entry]
Encoding=UTF-8
Name=BCC-startACC
Type=Link
URL=http://localhost:8280/dyn/admin/atg/dynamo/admin/en/start-acc.jhtml
Icon=gnome-fs-bookmark
